body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Ubuntu', sans-serif;
}

.TelaDeLogin {
    width: 430px;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.app-icon {
    width: 241px;
    height: 182px;
    margin: 20px auto;
    background: url('assets/Faxina-logo.png') no-repeat center center;
    background-size: contain;
}

.welcome {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #0743A2;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-field, .password-field {
    width: 100%;
    height: 66px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-input, .password-input {
    width: calc(100% - 17px);
    height: calc(100% - 4px);
    border: none;
    border-radius: 7px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #555555;
}

.forgot-password {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    color: #000000;
    margin-top: 10px;
    cursor: pointer;
}

.no-account {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

.sign-up {
    color: #1400FF;
    text-decoration: underline;
    cursor: pointer;
}

.continue-with {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0743A2;
    margin: 30px 0 10px;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
 .facebook-icon{
    width: 45px;
    height: 45px;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}
.image-icon{
    width: 45px;
    height: 45px;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}
.google-icon{
    width: 65px;
    height: 65px;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.google-icon {
    background: url('assets/google-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.facebook-icon {
    background: url('assets/facebook-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.image-icon {
    background: url('assets/email-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 57px;
    background: #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
}

.state-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.label-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.facebook-icon:hover{
    transform: scale(1.5);
}

.image-icon:hover{
    transform: scale(1.5);
}

.google-icon:hover{
    transform: scale(1.5);
}