body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/video_de_fundo.gif);
    background-size: cover;
}

.container {
    width: 415px;
    height: 930px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    position: relative;
}

.header-title {
    position: absolute;
    width: 364px;
    height: 91px;
    left: calc(50% - 182px); 
    top: 85px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #0743A2;
}

.sub-header {
    position: absolute;
    width: 358px;
    height: 76px;
    left: 36px;
    top: 224px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.group-objects {
    position: absolute;
    width: 378px;
    height: 496px;
    left: 20px;
    top: 358px;
}

.option-container {
    position: relative;
    width: 362px;
    height: 66px;
    background: #FFFFFF;
    border: 2px solid #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.email-container {
    position: absolute;
    width: 362px;
    height: 66px;
    left: 36px;
    top: 689px;
}

.email-box {
    position: absolute;
    width: 362px;
    height: 66px;
    left: 36px;
    top: 689px;
    background: #FFFFFF;
    border: 2px solid #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.email-text {
    position: absolute;
    width: 254px;
    height: 28px;
    left: 88px;
    top: 707px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.vector {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
    background: #000000;
}

.apple-container {
    position: absolute;
    width: 362px;
    height: 67px;
    left: 33px;
    top: 578px;
}

.apple-box {
    position: absolute;
    width: 362px;
    height: 66px;
    left: 33px;
    top: 578px;
    background: #FFFFFF;
    border: 2px solid #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.apple-text {
    position: absolute;
    width: 254px;
    height: 64px;
    left: 70px;
    top: 581px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.facebook-container {
    position: absolute;
    width: 362.48px;
    height: 66px;
    left: 35.52px;
    top: 468px;
}

.facebook-box {
    position: absolute;
    width: 362px;
    height: 66px;
    left: 36px;
    top: 468px;
    background: #FFFFFF;
    border: 2px solid #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.facebook-text {
    position: absolute;
    width: 298px;
    height: 28px;
    left: 71px;
    top: 487px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.google-container {
    position: absolute;
    width: 378px;
    height: 66px;
    left: 20px;
    top: 358px;
}

.google-box {
    position: absolute;
    width: 362px;
    height: 66px;
    left: 36px;
    top: 358px;
    background: #FFFFFF;
    border: 2px solid #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.google-text {
    position: absolute;
    width: 324px;
    height: 28px;
    left: 20px;
    top: 376px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

.back-container {
    position: absolute;
    width: 235px;
    height: 55px;
    left: 98px;
    top: 799px;
}

.back-box {
    position: absolute;
    width: 235px;
    height: 55px;
    left: 98px;
    top: 799px;
    background: #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.back-text {
    position: absolute;
    width: 229.07px;
    height: 29.46px;
    left: 101.93px;
    top: 809.88px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.frame-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 222px;
    top: 222px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.text {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.voltar-container {
    position: absolute;
    width: 235px;
    height: 55px;
    left: calc(50% - 117.5px);
    top: 799px;
    background: #0743A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}